@{
    ViewBag.Title = "TrundeŻarty.pl";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Pomoc:</strong>   <a href="mailto:kontakt@trudnezarty.hostingasp.pl">kontakt@trudnezarty.hostingasp.pl</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>