@using Microsoft.AspNet.Identity
@if (!Request.Browser.IsMobileDevice)
{
    if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
                <li class="dropdown" id="dropdownMenu1">
                    <img src="~/Storage/person-icon-8.png" id="iconPerson1" style="max-height: 45px;" />
                    <ul id="user-menu1" class="dropdown-menu clearfix" role="menu">
                        <li><a href="/Manage/Index" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp; @User.Identity.GetUserName()</a></li>
                        <li><a href="/Home/AddPost" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;&nbsp; Dodaj</a></li>

                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <li><a href="/Manage/ManageRoles" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-new-window"></span> &nbsp;&nbsp; Zarządzaj rolami</a></li>
                        }

                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
         }
      }
    else
    {
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
            <li class="dropdown" id="dropdownMenu2">
                <img src="~/Storage/person-icon-8.png" id="iconPerson2" style="max-height: 45px;" />
                <ul id="user-menu2" class="dropdown-menu clearfix" role="menu">
                    <li><a href="/Account/Register" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-new-window" id="logIcon"></span> &nbsp;&nbsp; Zarejestruj</a></li>
                    <li><a href="/Account/Login" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-log-in" id="logIcon"></span> &nbsp;&nbsp; Zaloguj</a></li>
                    <li><a href="/Home/Contact" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-phone" id="logIcon"></span> &nbsp;&nbsp; Kontakt</a></li>
                </ul>
            </li>
        </ul>
    }
}else
if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
        <li><a href="/Manage/Index" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp; @User.Identity.GetUserName()</a></li>
        <li><a href="/Home/AddPost" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;&nbsp; Dodaj</a></li>

        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <li><a href="/Manage/ManageRoles" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-new-window"></span> &nbsp;&nbsp; Zarządzaj rolami</a></li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Wyloguj</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
        <li><a href="/Account/Register" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-new-window" id="logIcon"></span> &nbsp;&nbsp; Zarejestruj</a></li>
        <li><a href="/Account/Login" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-log-in" id="logIcon"></span> &nbsp;&nbsp; Zaloguj</a></li>
        <li><a href="/Home/Contact" style="display: inline-block; width: 100%;"><span class="glyphicon glyphicon-phone" id="logIcon"></span> &nbsp;&nbsp; Kontakt</a></li>

    </ul>
}

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        cursor: pointer;
        background-color: #58595B !important;
        border-radius: 3px;
        color: red !important;
    }

    .dropdown-menu > li {
        color: #d5d6d7;
    }
</style>
