@model PlusAndComment.Models.MainPostVM

@{ 
    foreach (var item in Model.Posts)
    {
        <div id="abc_@(item.ID)">
            @Html.Partial("_ShowCommentPartial", item, new ViewDataDictionary { { "showAllPosts", "true" }, { "isMainComment", false } })
        </div>
    }
}