@model PlusAndComment.Models.SucharVM

<div class="row">
    <div class="sucharThmb thumbnail" style="background-color: #6b8694; margin: 8px 8px 8px 8px; border-color: #D87904;">
        <img src="@Url.Content(Model.RelThumbPath)" id="sucharThmb_@Model.Id" class="sucharThmb" style="width: auto;  text-overflow: ellipsis;" />
     </div>
</div>



