@{
    ViewBag.Title = "Dziękujemy za potwierdzenie";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękuję za potwierdzenie adresu e-mail. 
        Jesteś już zalogowany :)
        @*@Html.ActionLink("Kliknij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
    </p>
</div>
