@{
    ViewBag.Title = "Weryfikacja konta";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Sprawdź swoją skrzynkę email w celu aktywacji konta.
</p>
<p class="text-danger">
    Na Twój adres został wysłany link. Kliknij go, aby aktywować konto.
</p>
